In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("matches.csv")
data

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
10,11,2017,Kolkata,2017-04-13,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,8,SP Narine,Eden Gardens,A Deshmukh,NJ Llong,NaN
11,12,2017,Bangalore,2017-04-14,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,KA Pollard,M Chinnaswamy Stadium,KN Ananthapadmanabhan,AK Chaudhary,NaN
12,13,2017,Rajkot,2017-04-14,Rising Pune Supergiant,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,Saurashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
13,14,2017,Kolkata,2017-04-15,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,17,0,RV Uthappa,Eden Gardens,AY Dandekar,NJ Llong,NaN
14,15,2017,Delhi,2017-04-15,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Delhi Daredevils,51,0,CJ Anderson,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN
15,16,2017,Mumbai,2017-04-16,Gujarat Lions,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,N Rana,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
16,17,2017,Bangalore,2017-04-16,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,27,0,BA Stokes,M Chinnaswamy Stadium,KN Ananthapadmanabhan,C Shamshuddin,NaN
17,18,2017,Delhi,2017-04-17,Delhi Daredevils,Kolkata Knight Riders,Delhi Daredevils,bat,normal,0,Kolkata Knight Riders,0,4,NM Coulter-Nile,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN
18,19,2017,Hyderabad,2017-04-17,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,5,0,B Kumar,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,A Deshmukh,NaN
19,20,2017,Rajkot,2017-04-18,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,normal,0,Royal Challengers Bangalore,21,0,CH Gayle,Saurashtra Cricket Association Stadium,S Ravi,VK Sharma,NaN
20,21,2017,Hyderabad,2017-04-19,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,15,0,KS Williamson,"Rajiv Gandhi International Stadium, Uppal",CB Gaffaney,NJ Llong,NaN
21,22,2017,Indore,2017-04-20,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,JC Buttler,Holkar Cricket Stadium,M Erasmus,C Shamshuddin,NaN
22,23,2017,Kolkata,2017-04-21,Kolkata Knight Riders,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,4,SK Raina,Eden Gardens,CB Gaffaney,Nitin Menon,NaN
23,24,2017,Mumbai,2017-04-22,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
24,25,2017,Pune,2017-04-22,Sunrisers Hyderabad,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,6,MS Dhoni,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN
25,26,2017,Rajkot,2017-04-23,Kings XI Punjab,Gujarat Lions,Gujarat Lions,field,normal,0,Kings XI Punjab,26,0,HM Amla,Saurashtra Cricket Association Stadium,AK Chaudhary,M Erasmus,NaN
26,27,2017,Kolkata,2017-04-23,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,82,0,NM Coulter-Nile,Eden Gardens,CB Gaffaney,CK Nandan,NaN
27,28,2017,Mumbai,2017-04-24,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,3,0,BA Stokes,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
28,29,2017,Pune,2017-04-26,Rising Pune Supergiant,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,RV Uthappa,Maharashtra Cricket Association Stadium,AY Dandekar,NJ Llong,NaN
29,30,2017,Bangalore,2017-04-27,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,M Chinnaswamy Stadium,AK Chaudhary,C Shamshuddin,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,11322,2019,Mumbai,15/04/19,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,SL Malinga,Wankhede Stadium,Marais Erasmus,Nitin Menon,Nanda Kishore
727,11323,2019,Mohali,16/04/19,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,normal,0,Kings XI Punjab,12,0,R Ashwin,IS Bindra Stadium,Anil Chaudhary,Vineet Kulkarni,S Ravi
728,11324,2019,Hyderabad,17/04/19,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,normal,0,Sunrisers Hyderabad,0,6,DA Warner,Rajiv Gandhi Intl. Cricket Stadium,Ian Gould,Ulhas Gandhe,C Shamshuddin
729,11325,2019,Delhi,18/04/19,Mumbai Indians,Delhi Capitals,Mumbai Indians,bat,normal,0,Mumbai Indians,40,0,HH Pandya,Feroz Shah Kotla Ground,Nigel Llong,Bruce Oxenford,Anil Chaudhary
730,11326,2019,Kolkata,19/04/19,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Royal Challengers Bangalore,10,0,V Kohli,Eden Gardens,Ian Gould,Nitin Menon,Anil Dandekar
731,11327,2019,Jaipur,20/04/19,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,5,SPD Smith,Sawai Mansingh Stadium,S Ravi,Yeshwant Barde,O Nandan
732,11328,2019,Delhi,20/04/19,Kings XI Punjab,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,5,SS Iyer,Feroz Shah Kotla Ground,Ulhas Gandhe,C Shamshuddin,Bruce Oxenford
733,11329,2019,Hyderabad,21/04/19,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,K Ahmed,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Nigel Llong,Ian Gould
734,11330,2019,Bengaluru,21/04/19,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Royal Challengers Bangalore,1,0,PA Patel,M. Chinnaswamy Stadium,Vineet Kulkarni,Rod Tucker,Anil Chaudhary
735,11331,2019,Jaipur,22/04/19,Rajasthan Royals,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,6,RR Pant,Sawai Mansingh Stadium,S Ravi,Nanda Kishore,Yeshwant Barde
736,11332,2019,Chennai,23/04/19,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,SR Watson,M. A. Chidambaram Stadium,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
737,11333,2019,Bengaluru,24/04/19,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Royal Challengers Bangalore,17,0,AB de Villiers,M. Chinnaswamy Stadium,Bruce Oxenford,C Shamshuddin,Rod Tucker
738,11334,2019,Kolkata,25/04/19,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,VR Aaron,Eden Gardens,Ian Gould,Anil Dandekar,Nitin Menon
739,11335,2019,Chennai,26/04/19,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,46,0,RG Sharma,M. A. Chidambaram Stadium,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
740,11336,2019,Jaipur,27/04/19,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,JD Unadkat,Sawai Mansingh Stadium,Yeshwant Barde,Nand Kishore,Sundaram Ravi
741,11337,2019,Delhi,28/04/19,Delhi Capitals,Royal Challengers Bangalore,Delhi Capitals,bat,normal,0,Delhi Capitals,16,0,S Dhawan,Feroz Shah Kotla Ground,Bruce Oxenford,KN Ananthapadmanabhan,C Shamshuddin
742,11338,2019,Kolkata,28/04/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Kolkata Knight Riders,34,0,AD Russell,Eden Gardens,Ian Gould,Nitin Menon,Anil Dandekar
743,11339,2019,Hyderabad,29/04/19,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,45,0,DA Warner,Rajiv Gandhi Intl. Cricket Stadium,S Ravi,O Nandan,Nanda Kishore
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary
745,11341,2019,Chennai,01/05/19,Chennai Super Kings,Delhi Capitals,Delhi Capitals,field,normal,0,Chennai Super Kings,80,0,MS Dhoni,M. A. Chidambaram Stadium,Anil Dandekar,Nitin Menon,Ian Gould
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore
747,11343,2019,Mohali,03/05/19,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,S Gill,IS Bindra Stadium,Bruce Oxenford,C Shamshuddin,KN Ananthapadmanabhan
748,11344,2019,Delhi,04/05/19,Rajasthan Royals,Delhi Capitals,Rajasthan Royals,bat,normal,0,Delhi Capitals,0,5,A Mishra,Feroz Shah Kotla Ground,Ian Gould,Anil Dandekar,Nitin Menon
749,11345,2019,Bengaluru,04/05/19,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,S Hetmyer,M. Chinnaswamy Stadium,Nigel Llong,Anil Chaudhary,Ulhas Gandhe
750,11346,2019,Mohali,05/05/19,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,KL Rahul,IS Bindra Stadium,KN Ananthapadmanabhan,C Shamshuddin,Bruce Oxenford
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

# Which team has won maximum matches while chasing

In [4]:
a=data.query("team2 == winner ")
b=a["winner"].value_counts()
b

Kolkata Knight Riders          58
Mumbai Indians                 51
Chennai Super Kings            49
Royal Challengers Bangalore    49
Rajasthan Royals               46
Kings XI Punjab                44
Delhi Daredevils               42
Sunrisers Hyderabad            28
Gujarat Lions                  12
Deccan Chargers                11
Delhi Capitals                  7
Pune Warriors                   6
Rising Pune Supergiants         5
Rising Pune Supergiant          5
Kochi Tuskers Kerala            4
Name: winner, dtype: int64

In [7]:
df1= pd.DataFrame(data=b.index, columns=['winner'])
df2 = pd.DataFrame(data=b.values, columns=['value'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
df3 = d2.iloc[[0,-1]]
df3

                   winner  value
0   Kolkata Knight Riders     58
14   Kochi Tuskers Kerala      4

# Which toss decision is best for each ground

In [15]:
batting_wins=data[data["team1"]==data["winner"]]
fielding_wins=data[data["team2"]==data["winner"]]
grounds=team1["venue"].value_counts().index
for ground in grounds:
    if(batting_wins['venue'].value_counts()[ground]>fielding_wins['venue'].value_counts()[ground]):
        print(ground + 'is best for batting')
    else:
        print(ground + 'is best for batting')

Wankhede Stadiumis best for batting
Feroz Shah Kotlais best for batting
MA Chidambaram Stadium, Chepaukis best for batting
Eden Gardensis best for batting
M Chinnaswamy Stadiumis best for batting
Rajiv Gandhi International Stadium, Uppalis best for batting
Punjab Cricket Association Stadium, Mohaliis best for batting
Sawai Mansingh Stadiumis best for batting
Subrata Roy Sahara Stadiumis best for batting
Kingsmeadis best for batting
Maharashtra Cricket Association Stadiumis best for batting
Punjab Cricket Association IS Bindra Stadium, Mohaliis best for batting
Dr DY Patil Sports Academyis best for batting
Brabourne Stadiumis best for batting
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadiumis best for batting
Sardar Patel Stadium, Moterais best for batting
Himachal Pradesh Cricket Association Stadiumis best for batting
Rajiv Gandhi Intl. Cricket Stadiumis best for batting
Newlandsis best for batting
SuperSport Parkis best for batting
M. A. Chidambaram Stadiumis best for batting
Sheikh Zayed Stadiumis best for batting
Barabati Stadiumis best for batting
M. Chinnaswamy Stadiumis best for batting
Saurashtra Cricket Association Stadiumis best for batting
Dubai International Cricket Stadiumis best for batting
Nehru Stadiumis best for batting
New Wanderers Stadiumis best for batting
St George's Parkis best for batting
Shaheed Veer Narayan Singh International Stadiumis best for batting
IS Bindra Stadiumis best for batting
Vidarbha Cricket Association Stadium, Jamthais best for batting
JSCA International Stadium Complexis best for batting
Sharjah Cricket Stadiumis best for batting
Buffalo Parkis best for batting
Feroz Shah Kotla Groundis best for batting
De Beers Diamond Ovalis best for batting
OUTsurance Ovalis best for batting
Holkar Cricket Stadiumis best for batting


# Player who has maximum man of the match while chasing

In [9]:
a=data.query("team2 == winner")
b=a["player_of_match"].value_counts()
b

YK Pathan           11
G Gambhir           10
CH Gayle            10
RG Sharma            9
DR Smith             9
SR Watson            9
JH Kallis            8
V Kohli              8
AB de Villiers       8
DA Warner            8
MS Dhoni             8
AD Russell           7
AM Rahane            7
V Sehwag             7
UT Yadav             6
AC Gilchrist         5
A Mishra             5
SP Narine            5
SE Marsh             5
SK Raina             5
F du Plessis         4
Harbhajan Singh      4
RR Pant              4
MEK Hussey           4
Rashid Khan          4
DPMD Jayawardene     4
RA Jadeja            4
S Dhawan             4
KL Rahul             4
AT Rayudu            4
                    ..
IK Pathan            1
SK Trivedi           1
MJ Lumb              1
R Sharma             1
MS Bisla             1
SB Wagh              1
K Rabada             1
WP Saha              1
Yuvraj Singh         1
JD Ryder             1
JEC Franklin         1
MP Stoinis           1
Harmeet Singh        1
DJ Hooda             1
SP Goswami           1
DJ Bravo             1
H Gurney             1
PP Chawla            1
CH Morris            1
J Archer             1
HM Amla              1
DL Chahar            1
S Hetmyer            1
SA Yadav             1
Z Khan               1
RS Bopara            1
P Parameswaran       1
S Nadeem             1
RA Tripathi          1
RE Levi              1
Name: player_of_match, Length: 178, dtype: int64

In [10]:
df1= pd.DataFrame(data=b.index, columns=['player_of_match'])
df2 = pd.DataFrame(data=b.values, columns=['value'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
df3 = d2.iloc[[0]]
df3

  player_of_match  value
0       YK Pathan     11

In [24]:
data2=pd.read_csv("deliveries.csv")

In [25]:
data2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
14,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,1,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
18,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,5,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
20,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,1,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
21,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,2,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
22,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,3,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
23,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,4,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
24,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
25,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,6,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
26,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,1,S Dhawan,MC Henriques,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
27,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,2,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
28,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,3,S Dhawan,MC Henriques,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,4,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179048,11415,2,Chennai Super Kings,Mumbai Indians,16,1,DJ Bravo,SR Watson,SL Malinga,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179049,11415,2,Chennai Super Kings,Mumbai Indians,16,2,DJ Bravo,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179050,11415,2,Chennai Super Kings,Mumbai Indians,16,3,SR Watson,DJ Bravo,SL Malinga,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
179051,11415,2,Chennai Super Kings,Mumbai Indians,16,4,SR Watson,DJ Bravo,SL Malinga,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
179052,11415,2,Chennai Super Kings,Mumbai Indians,16,5,SR Watson,DJ Bravo,SL Malinga,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
179053,11415,2,Chennai Super Kings,Mumbai Indians,16,6,SR Watson,DJ Bravo,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179054,11415,2,Chennai Super Kings,Mumbai Indians,17,1,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179055,11415,2,Chennai Super Kings,Mumbai Indians,17,2,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179056,11415,2,Chennai Super Kings,Mumbai Indians,17,3,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179057,11415,2,Chennai Super Kings,Mumbai Indians,17,4,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179058,11415,2,Chennai Super Kings,Mumbai Indians,17,5,SR Watson,DJ Bravo,JJ Bumrah,0,...,1,0,0,0,1,1,2,NaN,NaN,NaN
179059,11415,2,Chennai Super Kings,Mumbai Indians,17,6,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179060,11415,2,Chennai Super Kings,Mumbai Indians,18,1,DJ Bravo,SR Watson,KH Pandya,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179061,11415,2,Chennai Super Kings,Mumbai Indians,18,2,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179062,11415,2,Chennai Super Kings,Mumbai Indians,18,3,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179063,11415,2,Chennai Super Kings,Mumbai Indians,18,4,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179064,11415,2,Chennai Super Kings,Mumbai Indians,18,5,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179065,11415,2,Chennai Super Kings,Mumbai Indians,18,6,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179066,11415,2,Chennai Super Kings,Mumbai Indians,19,1,SR Watson,DJ Bravo,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179067,11415,2,Chennai Super Kings,Mumbai Indians,19,2,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,DJ Bravo,caught,Q de Kock
179068,11415,2,Chennai Super Kings,Mumbai Indians,19,3,RA Jadeja,SR Watson,JJ Bumrah,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179069,11415,2,Chennai Super Kings,Mumbai Indians,19,4,RA Jadeja,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
179070,11415,2,Chennai Super Kings,Mumbai Indians,19,5,RA Jadeja,SR Watson,JJ Bumrah,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179071,11415,2,Chennai Super Kings,Mumbai Indians,19,6,RA Jadeja,SR Watson,JJ Bumrah,0,...,4,0,0,0,4,4,8,NaN,NaN,NaN
179072,11415,2,Chennai Super Kings,Mumbai Indians,20,1,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

# Batsman who have faced maximum dot balls

In [79]:
a=data2.query("wide_runs == '0' & batsman_runs == '0'")
b=a["batsman"].value_counts()
b

V Kohli             1404
S Dhawan            1372
RG Sharma           1330
CH Gayle            1300
RV Uthappa          1292
SK Raina            1279
G Gambhir           1234
DA Warner           1177
AM Rahane           1131
SR Watson           1046
MS Dhoni            1035
PA Patel             982
KD Karthik           958
BB McCullum          943
JH Kallis            913
M Vijay              902
AT Rayudu            898
Yuvraj Singh         891
AB de Villiers       886
MK Pandey            835
DR Smith             793
R Dravid             783
YK Pathan            780
SR Tendulkar         778
SE Marsh             694
KA Pollard           684
AC Gilchrist         677
V Sehwag             659
MEK Hussey           607
NV Ojha              600
                    ...
Avesh Khan             2
L Ablish               2
KP Appanna             2
RR Bhatkal             2
DM Bravo               2
L Plunkett             2
YA Abdulla             1
Shivam Sharma          1
PM Sarvesh Kumar       1
C Nanda                1
SJ Srivastava          1
K Ahmed                1
S Tyagi                1
M de Lange             1
V Pratap Singh         1
DAJ Bracewell          1
S Lamichhane           1
P Raj                  1
SE Bond                1
Mashrafe Mortaza       1
U Kaul                 1
VS Yeligati            1
JE Taylor              1
S Kaushik              1
J Denly                1
RS Sodhi               1
P Parameswaran         1
R Salam                1
Sunny Gupta            1
KMDN Kulasekara        1
Name: batsman, Length: 508, dtype: int64

In [80]:
df1= pd.DataFrame(data=b.index, columns=['batsman'])
df2 = pd.DataFrame(data=b.values, columns=['dot_balls'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

   batsman  dot_balls
0  V Kohli       1404

# which batsmen has come to crease but never faced a ball

In [18]:
data2=pd.read_csv("deliveries.csv")
c1=data2["batsman"]
d=data2[~data2['non_striker'].isin(c1)]
b=d["non_striker"]
b

25297             A Nel
25298             A Nel
25299             A Nel
47770       C Ganapathy
47771       C Ganapathy
73812      TP Sudhindra
110217    BW Hilfenhaus
Name: non_striker, dtype: object

In [19]:
df1= pd.DataFrame(data=b.index, columns=['match id'])
df2 = pd.DataFrame(data=b.values, columns=['dot_balls'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2

   match id      dot_balls
0     25297          A Nel
1     25298          A Nel
2     25299          A Nel
3     47770    C Ganapathy
4     47771    C Ganapathy
5     73812   TP Sudhindra
6    110217  BW Hilfenhaus

# Which bowler have been scored maximum 1s

In [91]:
a=data2.query("total_runs=='1' & bye_runs == '0' & legbye_runs == '0'")
b=data2.query("total_runs=='2' & bye_runs == '0' & legbye_runs == '0'")
c=data2.query("total_runs=='3' & bye_runs == '0' & legbye_runs == '0'")
d=data2.query("total_runs=='4' & bye_runs == '0' & legbye_runs == '0'")
e=data2.query("total_runs=='6' & bye_runs == '0' & legbye_runs == '0'")
p=a["bowler"].value_counts()
q=b["bowler"].value_counts()
r=c["bowler"].value_counts()
s=d["bowler"].value_counts()
t=e["bowler"].value_counts()

In [96]:
df1= pd.DataFrame(data=p.index, columns=['bowler'])
df2 = pd.DataFrame(data=p.values, columns=['most_ones'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

            bowler  most_ones
0  Harbhajan Singh       1513

# Which bowler have been scored maximum 2s

In [40]:
df1= pd.DataFrame(data=q.index, columns=['bowler'])
df2 = pd.DataFrame(data=q.values, columns=['most_twos'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

     bowler  most_twos
0  DJ Bravo        258

# Which bowler have been scored maximum 3s

In [41]:
df1= pd.DataFrame(data=r.index, columns=['bowler'])
df2 = pd.DataFrame(data=r.values, columns=['most_threes'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

    bowler  most_threes
0  P Kumar           18

# Which bowler have been scored maximum 4s

In [42]:
df1= pd.DataFrame(data=s.index, columns=['bowler'])
df2 = pd.DataFrame(data=s.values, columns=['most_fours'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

     bowler  most_fours
0  UT Yadav         389

# Which bowler have been scored maximum 6s

In [43]:
df1= pd.DataFrame(data=t.index, columns=['bowler'])
df2 = pd.DataFrame(data=t.values, columns=['most_sixes'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

      bowler  most_sixes
0  PP Chawla         171

# Which batsman stumped out maximum number of times

In [46]:
a=data2.query("dismissal_kind=='stumped'")
b=a["player_dismissed"].value_counts()
b

SK Raina            8
AT Rayudu           7
RV Uthappa          7
AB de Villiers      6
F du Plessis        6
PA Patel            6
M Vijay             5
DA Warner           5
S Dhawan            5
KD Karthik          4
AM Rahane           4
MS Bisla            4
WP Saha             4
Mandeep Singh       4
MK Tiwary           4
MC Henriques        4
NV Ojha             3
KP Pietersen        3
STR Binny           3
S Badrinath         3
SR Tendulkar        3
V Kohli             3
KC Sangakkara       3
MS Dhoni            3
AC Gilchrist        3
SR Watson           3
RG Sharma           3
JC Buttler          3
RE van der Merwe    3
SK Warne            3
                   ..
S Hetmyer           1
CH Morris           1
S Anirudha          1
SW Tait             1
Ishan Kishan        1
DJ Bravo            1
MEK Hussey          1
R Dhawan            1
LRPL Taylor         1
KK Cooper           1
MK Pandey           1
MG Johnson          1
S Gopal             1
Sunny Gupta         1
JM Kemp             1
RT Ponting          1
AG Paunikar         1
UT Khawaja          1
UBT Chand           1
AA Bilakhia         1
A Singh             1
DJG Sammy           1
M Morkel            1
Q de Kock           1
KM Jadhav           1
Mohammed Shami      1
MJ Clarke           1
P Dogra             1
LR Shukla           1
AS Raut             1
Name: player_dismissed, Length: 139, dtype: int64

In [47]:
df1= pd.DataFrame(data=b.index, columns=['batsman'])
df2 = pd.DataFrame(data=b.values, columns=['stumped_dismissal'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0,1]]
df3

    batsman  stumped_dismissal
0  SK Raina                  8

# Which non-striker have been part of run outs maximum number of times

In [99]:
a=data2.query("dismissal_kind=='run out'")
b=a["non_striker"].value_counts()
b

KD Karthik          16
SK Raina            16
RG Sharma           15
YK Pathan           14
AB de Villiers      14
RV Uthappa          14
M Vijay             13
AM Rahane           12
PA Patel            11
MS Dhoni            11
SR Watson           10
RA Jadeja           10
G Gambhir           10
S Dhawan            10
Yuvraj Singh        10
V Sehwag             8
P Kumar              8
IK Pathan            8
DJ Hussey            8
F du Plessis         8
V Kohli              8
Harbhajan Singh      8
DPMD Jayawardene     7
PP Chawla            7
A Mishra             7
JA Morkel            7
KH Pandya            7
AT Rayudu            7
NV Ojha              7
SL Malinga           7
                    ..
Sohail Tanvir        1
VY Mahesh            1
CH Morris            1
Mashrafe Mortaza     1
D du Preez           1
Swapnil Singh        1
BCJ Cutting          1
UT Khawaja           1
DJ Harris            1
KC Cariappa          1
RR Powar             1
C Ingram             1
MR Marsh             1
KC Sangakkara        1
MA Starc             1
GD McGrath           1
M Manhas             1
SA Abbott            1
S Sreesanth          1
PV Tambe             1
M Lomror             1
JE Taylor            1
PJ Sangwan           1
DH Yagnik            1
M Muralitharan       1
A Chopra             1
DNT Zoysa            1
P Sahu               1
SP Goswami           1
A Nehra              1
Name: non_striker, Length: 265, dtype: int64

In [100]:
df1= pd.DataFrame(data=b.index, columns=['non_striker'])
df2 = pd.DataFrame(data=b.values, columns=['runout_dismissal'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0,1]]
df3

  non_striker  runout_dismissal
0  KD Karthik                16
1    SK Raina                16

# which team has played maximum super overs while defending

In [55]:
a=data2.query("is_super_over=='1'")
b=a["bowling_team"].value_counts()
b

Rajasthan Royals               20
Royal Challengers Bangalore    13
Kolkata Knight Riders          10
Kings XI Punjab                 9
Mumbai Indians                  8
Sunrisers Hyderabad             6
Delhi Daredevils                6
Gujarat Lions                   5
Chennai Super Kings             4
Name: bowling_team, dtype: int64

In [56]:
df1= pd.DataFrame(data=b.index, columns=['defending_team'])
df2 = pd.DataFrame(data=b.values, columns=['super_overs'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

     defending_team  super_overs
0  Rajasthan Royals           14

# which team has bowled maximum no balls

In [58]:
#which team has bowled maximum no balls
a=data2.query("noball_runs !='0'")
b=a["bowling_team"].value_counts()
b

Mumbai Indians                 105
Kings XI Punjab                 96
Royal Challengers Bangalore     91
Delhi Daredevils                86
Kolkata Knight Riders           77
Rajasthan Royals                68
Chennai Super Kings             59
Deccan Chargers                 49
Sunrisers Hyderabad             30
Pune Warriors                   26
Delhi Capitals                   8
Kochi Tuskers Kerala             7
Gujarat Lions                    7
Rising Pune Supergiants          4
Rising Pune Supergiant           1
Name: bowling_team, dtype: int64

In [59]:
df1= pd.DataFrame(data=b.index, columns=['Team'])
df2 = pd.DataFrame(data=b.values, columns=['NO_BALLS'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

             Team  NO_BALLS
0  Mumbai Indians       105

# Which player has caught maximum catches

In [60]:
a=data2["fielder"].value_counts()
a

MS Dhoni              159
KD Karthik            152
RV Uthappa            125
SK Raina              115
AB de Villiers        114
PA Patel               97
RG Sharma              92
V Kohli                90
KA Pollard             85
NV Ojha                82
WP Saha                82
RA Jadeja              80
DJ Bravo               78
MK Pandey              77
AC Gilchrist           75
S Dhawan               73
AT Rayudu              65
DA Warner              62
AM Rahane              62
KC Sangakkara          58
SV Samson              56
DA Miller              53
YK Pathan              51
SPD Smith              51
BB McCullum            50
M Vijay                49
MK Tiwary              49
HH Pandya              48
F du Plessis           47
Harbhajan Singh        46
                     ...
Younis Khan             1
Ankit Soni              1
RG More                 1
L Ngidi                 1
PJ Sangwan (sub)        1
K Santokie              1
B Stanlake              1
AN Ghosh                1
F Behardien             1
T Curran                1
WPUJC Vaas              1
B Aparajith (sub)       1
GJ Bailey (sub)         1
T Mishra                1
H Viljoen               1
T Kohli                 1
O Thomas                1
UBT Chand (sub)         1
M Lomror                1
S Dube                  1
MC Henriques (sub)      1
MJ Clarke               1
F du Plessis (sub)      1
Shivam Sharma           1
HH Pandya (sub)         1
PV Tambe                1
B Chipli (sub)          1
AA Bilakhia             1
KH Devdhar              1
KAJ Roach               1
Name: fielder, Length: 499, dtype: int64

In [62]:
df1= pd.DataFrame(data=a.index, columns=['Player'])
df2 = pd.DataFrame(data=a.values, columns=['NO of catches'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

     Player  NO of catches
0  MS Dhoni            159

# Which bowler has took maximum wickets

In [71]:
a=data2.query("player_dismissed != 'NaN' & dismissal_kind != 'run out'")
b=a["bowler"].value_counts()
b

Harbhajan Singh     3440
A Mishra            3163
PP Chawla           3150
R Ashwin            3003
SL Malinga          2956
B Kumar             2699
DJ Bravo            2690
P Kumar             2625
UT Yadav            2588
SP Narine           2585
RA Jadeja           2533
Z Khan              2260
DW Steyn            2199
R Vinay Kumar       2164
SR Watson           2122
IK Pathan           2094
I Sharma            1997
A Nehra             1959
PP Ojha             1935
RP Singh            1864
YS Chahal           1839
DS Kulkarni         1825
JA Morkel           1796
JH Kallis           1790
JJ Bumrah           1789
MM Sharma           1762
AR Patel            1740
M Morkel            1688
R Bhatia            1650
M Muralitharan      1578
                    ...
S Midhun              13
AA Kazi               12
C Munro               12
Mandeep Singh         12
RR Bhatkal            12
RR Bose               12
FY Fazal              11
S Dube                11
Sachin Baby            9
SS Mundhe              7
LA Carseldine          7
BJ Rohrer              7
P Prasanth             6
H Vihari               6
L Livingstone          6
RA Shaikh              6
KS Williamson          6
Y Gnaneswara Rao       6
RS Gavaskar            6
F du Plessis           6
I Malhotra             6
B Chipli               6
LPC Silva              6
RA Tripathi            6
C Ganapathy            6
AM Rahane              6
SA Yadav               6
SN Khan                2
SPD Smith              2
AC Gilchrist           1
Name: bowler, Length: 405, dtype: int64

In [72]:
df1= pd.DataFrame(data=b.index, columns=['Bowler'])
df2 = pd.DataFrame(data=b.values, columns=['Wickets'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

            Bowler  Wickets
0  Harbhajan Singh     3440

# which batsman has hit maximum sixes

In [73]:
a=data2.query("batsman_runs=='6'")
b=a["batsman"].value_counts()
b

CH Gayle           327
AB de Villiers     214
MS Dhoni           207
SK Raina           195
RG Sharma          194
V Kohli            191
DA Warner          181
SR Watson          177
KA Pollard         175
YK Pathan          161
RV Uthappa         156
Yuvraj Singh       149
BB McCullum        129
AT Rayudu          120
AD Russell         119
DR Smith           117
V Sehwag           106
KD Karthik         101
S Dhawan            96
RR Pant             94
AC Gilchrist        92
M Vijay             91
GJ Maxwell          91
SV Samson           89
DA Miller           87
KL Rahul            81
NV Ojha             79
JP Duminy           79
SE Marsh            78
MK Pandey           76
                  ...
DE Bollinger         1
JJ van der Wath      1
VH Zol               1
MN van Wyk           1
SW Tait              1
Anirudh Singh        1
Anureet Singh        1
P Sahu               1
KW Richardson        1
SD Lad               1
D Shorey             1
S Rana               1
LPC Silva            1
KJ Abbott            1
WD Parnell           1
JM Kemp              1
Niraj Patel          1
Basil Thampi         1
MA Khote             1
M Kartik             1
JDS Neesham          1
FY Fazal             1
K Upadhyay           1
SN Thakur            1
TS Mills             1
J Searles            1
KB Arun Karthik      1
GH Vihari            1
JJ Bumrah            1
Sohail Tanvir        1
Name: batsman, Length: 336, dtype: int64

In [74]:
df1= pd.DataFrame(data=b.index, columns=['Batsman'])
df2 = pd.DataFrame(data=b.values, columns=['NO of Sixes'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

    Batsman  NO of Sixes
0  CH Gayle          327